<h2>Receiver</h2>
<p>Here you can receive Data</p>

<div *ngIf="!isReceiving&& !receiveSuccess && !isRelayServerSet" class="form-group">
  <label for="relayAddress">Relay Server Adresse:</label>
  <input type="text" id="relayAddress" [(ngModel)]="relayAddress" placeholder="::1">
</div>
<div *ngIf="!isReceiving&& !receiveSuccess && !isPortSet" class="form-group">
  <label for="relayPort">Port:</label>
  <input type="text" id="relayPort" [(ngModel)]="relayPort" placeholder="8000">
</div>

<div *ngIf="!isReceiving" class="form-group">
    <label for="relayPort">Transfername:</label>
    <input type="text" id="transferName" [(ngModel)]="transferName" placeholder="Transfername">
  </div>

<div *ngIf="!isReceiving&& !receiveSuccess" class="form-group">
  <button (click)="receiveData()">Daten empfangen</button>
</div>
<div *ngIf="!isReceiving&& !receiveSuccess" class="form-group">
  <button (click)="redirectToHome()">Startseite</button>
</div>

<div>
  <p *ngIf="isReceiving">Receiving Data... Transfer Name: {{transferName}}</p>
  </div>

<div *ngIf="!isReceiving && receiveSuccess">
<p>Data received successfully! Transfer Name: {{transferName}}</p>
</div>

<div *ngIf="!isReceiving && !receiveSuccess && transferName === ''">
  <p> No Data is being received. </p>
</div>
