<!-- src/app/app.component.html -->
<h2>Sender</h2>
<p>Here you can send Data.</p>

<div *ngIf="!sendingInProgress && !sendingSuccess && !isRelayServerSet" class="form-group">
  <label for="relayAddress">Relay Server Address:</label>
  <input type="text" id="relayAddress" [(ngModel)]="relayAddress" placeholder="::1">
</div>
<div *ngIf="!sendingInProgress && !sendingSuccess && !isRelayServerSet" class="form-group">
  <label for="relayPort">Port:</label>
  <input type="text" id="relayPort" [(ngModel)]="relayPort" placeholder="8000">
</div>

<div *ngIf="sendingInProgress" class="qrcodeImage">
  <qrcode
    [qrdata]="transferName"
    [allowEmptyString]="true"
    [cssClass]="'center'"
    [elementType]="'canvas'"
    [errorCorrectionLevel]="'M'"
    [imageSrc]="'../../../assets/tauri.svg'"
    [imageHeight]="75"
    [imageWidth]="75"
    [margin]="4"
    [scale]="1"
    [width]="250"
  ></qrcode>
</div>

<div *ngIf="!sendingInProgress && !sendingSuccess" class="form-group">
  <button (click)="selectFile()" [disabled]="sendingInProgress">Attach Data</button>
</div>

<ul class="file-list">
  <li *ngFor="let fileName of fileNames">{{ fileName }}</li>
</ul>

<div *ngIf="!sendingInProgress && !sendingSuccess" class="form-group">
  <button (click)="sendData()" [disabled]="sendingInProgress">Send Data</button>
</div>
<div *ngIf="!sendingInProgress && !sendingSuccess" class="form-group">
  <button (click)="redirectToHome()">Home</button>
</div>

<div *ngIf="sendingInProgress" class="form-group">
  <button class="cancel-button" (click)="reset()">Cancel</button>
</div>

<div *ngIf="sendingInProgress">
  <p>Sending files... Transfer Name: {{ transferName }}</p>
</div>

<div *ngIf="!sendingInProgress && sendingSuccess">
  <p>Data sent successfully! Transfer Name: {{ transferName }}</p>
</div>

<div *ngIf="!sendingInProgress && !sendingSuccess && transferName === ''">
  <p>No data being sent.</p>
</div>

